<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Netflix Login Page | CodingNepal</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
  <nav>
    <a href="#"><img src="/image/resly.png" alt="logo" /></a>
  </nav>
  <div class="form-wrapper">
    <h2>Đăng nhập</h2>
    <form action="/auth/sign-in" method="POST">
      <div class="form-control">
        <input type="email" name="email" required>
        <label>Email </label>
      </div>
      <div class="form-control">
        <input type="password" name="password" required>
        <label>Mật khẩu</label>
      </div>
      <button type="submit">Đăng nhập</button>
      <div>
      </div>
      <% if (typeof message !=='undefined' ) { %>
        <p
          style="color: rgb(255, 255, 255); padding-top: 8px; padding-bottom: 8px; font-size: 14px;  text-align: center;">
          <%= message %>
        </p>
        <% } %>
          <% if (typeof error !=='undefined' ) { %>
            <p style="color: red; padding-top: 8px; padding-bottom: 8px; font-size: 16px; text-align: center;">
              <%= typeof error !=='undefined' ? error: "" %>
            </p>
            <% } %>
              <div>
                <!-- <div class="google-login">
                  <a href="/auth/google" class="google-btn">
                    <img src="/image/google-logo.png" alt="Google Logo" />
                    Đăng nhập với Google
                  </a>
                </div> -->
                <div class="form-extra-links">
                  <a href="/">← Quay lại trang chủ</a>
                  <a href="/auth/reset-password">Quên mật khẩu?</a>
                </div>
              </div>
    </form>
  </div>
</body>