<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Netflix Login Page | CodingNepal</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
  <nav>
    <a href="#"><img src="/image/resly.png" alt="logo" /></a>
  </nav>
  <div class="form-wrapper">
    <h2>Quên mật khẩu</h2>
    <form action="/auth/reset-password" method="POST">
      <div class="form-control">
        <input type="text" name="email" required>
        <label>Email</label>
      </div>
      <button type="submit">Quên mật khẩu</button>
      <% if (typeof error !=='undefined' ) { %>
        <p style="color: red; padding-top: 8px; padding-bottom: 8px; font-size: 16px; text-align: center;">
          <%= typeof error !=='undefined' ? error: "" %>
        </p>
        <% } %>
          <p style="font-size: 16px; margin-top: 15px;">Bạn đã có tài khoản? <a href="/auth/login">Đăng nhập</a></p>
    </form>
  </div>
</body>